# Monad chain config
# chain id format should be hex, e.g. 0x279F
NEXT_PUBLIC_MONAD_CHAIN_ID=0x279F
NEXT_PUBLIC_MONAD_CHAIN_NAME=Monad Testnet
NEXT_PUBLIC_MONAD_RPC_URLS=https://testnet-rpc.monad.xyz
NEXT_PUBLIC_MONAD_EXPLORER_URLS=https://testnet.monadexplorer.com
NEXT_PUBLIC_MONAD_NATIVE_NAME=MON
NEXT_PUBLIC_MONAD_NATIVE_SYMBOL=MON
NEXT_PUBLIC_MONAD_NATIVE_DECIMALS=18

# Contract config
NEXT_PUBLIC_USDC_ADDRESS=0xAeffBE902D7e5c53fba1CB08a343E5C077605B4f
NEXT_PUBLIC_USDC_FAUCET_ADDRESS=0x35eCb74C54D3f2d1a7a4bFFd608B5598c39A63C7
NEXT_PUBLIC_GAME_VAULT_ADDRESS=0x3e80F71d5FfcbB9A5507e97D8262BC866430cdDd
NEXT_PUBLIC_GAME_SETTLEMENT_ADDRESS=0x2bE08dAe6C69ed133E5d91d0CE60bB54ad987e8F

# FE data source mode for deposit feature: onchain | backend
NEXT_PUBLIC_DEPOSIT_DATA_SOURCE=onchain

# Required for backend auth + gameplay settlement flow
NEXT_PUBLIC_BACKEND_API_URL=http://localhost:3001

# Required for Reown AppKit modal
NEXT_PUBLIC_REOWN_PROJECT_ID=
